/* src/styles.css */
@font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/mycustomfont.ttf') format('truetype');
}
body {
  font-family: 'MyCustomFont', sans-serif;
  background-color: #f1f1f1;
  padding: 2rem;
}

h1 {
  color: #007acc;
}